.places {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    

}

article {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.places h1 {
    flex-basis: 100%;
}
